*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}

#outer {
  width: 100vw;
  height: 100vh;
}

#choose-btn-container {
  background-color: aliceblue;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#breed-wise-drop-down-list {
  width: 25%;
  height: 30%;
  font-size: xx-large;
  font-family: monospace;
  text-transform: capitalize;
}
#get-image-btn {
  width: 15vw;
  height: 10vh;
  font-size: initial;
  font-family: system-ui;
  background-color: whitesmoke;
}

/* image container */
#image-btn-container {
  width: 100vw;
  height: 80vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#image-subcontainer {
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

#next-image {
  width: 20vw;
  height: 10vh;
  color: deepskyblue;
  font-size: xx-large;
  font-family: monospace;
  background: white;
  overflow: hidden;
}
